Source: pulseaudio-module-xrdp
Section: sound
Priority: optional
Maintainer: Nobuyuki Nishizawa <nobuyuki@westmarsh.jp>
Build-Depends: debhelper-compat (= 11),
    check,
    dh-exec,
    dpkg-dev (>= 1.17.14),
    intltool,
    libasound2-dev [linux-any],
    libasyncns-dev,
    libavahi-client-dev,
    libbluetooth-dev [linux-any] <!stage1>,
    libsbc-dev [linux-any],
    libcap-dev [linux-any],
    libfftw3-dev,
    libgconf2-dev,
    libglib2.0-dev,
    libgtk-3-dev,
    libice-dev,
    libjack-dev,
    libjson-c-dev (>= 0.11),
    liblircclient-dev,
    libltdl-dev,
    liborc-0.4-dev,
    libsamplerate0-dev,
    libsndfile1-dev,
    libsoxr-dev (>= 0.1.1),
    libspeexdsp-dev (>= 1.2~rc1),
    libssl-dev,
    libsystemd-dev [linux-any],
    libtdb-dev [!hurd-any],
    libudev-dev [linux-any],
    libwebrtc-audio-processing-dev (>= 0.2) [linux-any],
    libwrap0-dev,
    libx11-xcb-dev,
    libxcb1-dev,
    libxtst-dev,
    pkg-config
Standards-Version: 4.2.1
Rules-Requires-Root: no
Vcs-Git: https://github.com/nnishiza/debian-pulseaudio-module-xrdp.git
Vcs-Browser: https://github.com/nnishiza/debian-pulseaudio-module-xrdp
Homepage: http://www.pulseaudio.org

Package: pulseaudio-module-xrdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xrdp module for PulseAudio sound server
 PulseAudio, previously known as Polypaudio, is a sound server for POSIX and
 WIN32 systems. It is a drop in replacement for the ESD sound server with
 much better latency, mixing/re-sampling quality and overall architecture.
 .
 This module enables PulseAudio to connect to an xrdp server.
 .
 The modules are called module-xrdp-sink and module-xrdp-source.
