#!/usr/bin/make -f

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

config.status: configure
	dh_testdir
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --sysconfdir=/etc --localstatedir=/var CFLAGS="$(CFLAGS)" --with-realtime-group=pulse-rt

#Architecture 
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp:  config.status
	$(MAKE) 
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:  config.status
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#

	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	dh_clean 

install: install-indep install-arch
install-indep:
#	dh_testdir
#	dh_testroot
#	dh_clean -k -i 
#	dh_installdirs -i
#	dh_install -i --sourcedir=$(CURDIR)/debian/tmp

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp -name "*.la" | xargs rm
	rm $(CURDIR)/debian/tmp/usr/lib/libpulsecore.so
	rm $(CURDIR)/debian/tmp/usr/lib/libpulsecore.a
	rm -R $(CURDIR)/debian/tmp/usr/include/pulsecore
	dh_install -s --sourcedir=$(CURDIR)/debian/tmp --fail-missing

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_installinit
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms --exclude=usr/bin/pulseaudio
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps --exclude=modules/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build-indep install-indep
#	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch 
