#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

common-install-arch::
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lintian
	cp -a $(CURDIR)/debian/overrides $(CURDIR)/debian/tmp/usr/share/lintian

DEB_CONFIGURE_EXTRA_FLAGS = --with-realtime-group=pulse-rt
DEB_FIXPERMS_EXCLUDE = usr/bin/pulseaudio
DEB_DH_MAKESHLIBS_ARGS_ALL = --exclude=usr/lib/pulse-0.9/modules
DEB_DH_INSTALL_ARGS = --sourcedir=$(CURDIR)/debian/tmp

